body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6ecf0;
  margin: 0px;
}

.wrap {
  width: 960px;
  margin: auto;
}

.header-style {
  background-color: #4289d1;
  height: 45px;
}

.header-brand {
  color: white;
  margin: 0px;
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
}

.fa-twitter {
  color: white;
  font-size: 20px;
  margin-top: 10px 20px;
}

.container-logo {
  text-align: center;
}

.profile-container {
  height: 188px;
  margin: 20px 10px 20px 0px;
  background-color: white;
  display: inline-block;
  flex-basis: 30%;
}

.profile-container p {
  padding: 25px;
  color: #4a6a83;
  font-size: 14px;
  line-height: 18px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-container {
  margin: 20px 0px 20px 10px;
  padding: 10px;
  background-color: white;
  flex-basis: 50%;
  flex-grow: 1;
}

::placeholder {
  color: #bac6d1;
}

.input-style {
  width: 93%;
  height: 55%;
  margin: 20px 20px 0px 20px;
  border-radius: 6px;
  border-color: #4289d1;
  font-size: 18px;
  resize: none;
  overflow: hidden;
}

.input-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
}

.form-container p {
  display: inline-block;
  font-size: 15px;
  color: #4a6a83;
  margin: 0px;
}

.btn {
  border: 1px solid #4289d1;
  width: 13%;
  height: 15%;
  margin: 0px;
  border-radius: 20px;
  background-color: #4289d1;
  display: inline-block;
  color: white;
  font-size: 15px;
}

.clock {
  color: grey;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
}

.post-done {
  margin: 0px;
}

.column-reverse {
  margin: 0px;
  display: flex;
  flex-direction: column-reverse;
}

.tweet-posted {
  width: 98%;
  padding: 10px;
  background-color: white;
  display: inline-block;
  color: #4289d1;
  padding: 20px;
  font-size: 18px;
  word-wrap: break-word;
}

.version {
  text-align: center;
  color: #4289d1;
  font-size: 10px;
  margin: 20px;
}
